# Import libraries and data

In [64]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [65]:
import pymysql
from sqlalchemy import create_engine
import getpass 
password = getpass.getpass()

········

In [66]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/clean_winery'
engine = create_engine(connection_string)

## Getting all the data

In [67]:
query = ''' SELECT d.wine_id, d.type, d.wine_name, d.country, w.region, d.varietal_name, w.winery, w.year, d.style_id, d.body, d.acidity_1, s.acidity_description, d.acidity_2, d.fizziness, d.intensity, d.sweetness, d.tannin, p.vol_ml, p.price_eur, w.num_ratings, w.rate FROM to_clean d
LEFT JOIN wine w USING (wine_id)
LEFT JOIN purchase p USING (wine_id)
LEFT JOIN style s USING (wine_id);'''

all_data = pd.read_sql(query, engine)

In [68]:
all_data.head()

,wine_id,type,wine_name,country,region,varietal_name,winery,year,style_id,body,acidity_1,acidity_description,acidity_2,fizziness,intensity,sweetness,tannin,vol_ml,price_eur,num_ratings,rate
0,27946372,1,Paulo Laureano Dolium Reserva,portugal,Alentejo,Tinto de Alentejo,Paulo Laureano,2014,2,4.0,3.0,Alta,3.36,0.0,3.97,1.67,3.25,750.0,58.0,721,4.2
1,5624201,1,Herdade do Rocim Grande Rocim Reserva Tinto,portugal,Alentejo,Tinto de Alentejo,Herdade do Rocim,2013,2,4.0,3.0,Alta,3.00,0.0,4.26,2.14,3.18,750.0,72.5,1256,4.2
2,2020315,1,Dona Maria Reserva,portugal,Alentejo,Tinto de Alentejo,Dona Maria,2005,2,4.0,3.0,Alta,2.98,0.0,4.11,1.73,2.79,750.0,42.0,3040,4.0
3,144779059,1,Paulo Laureano Bacalhau Escolha Tinto,portugal,Alentejo,Tinto de Alentejo,Paulo Laureano,2016,2,4.0,3.0,Alta,2.88,0.0,3.92,1.64,3.09,750.0,17.0,538,4.0
4,13551606,1,Herdade do Menir Vale de Ancho Reserva,portugal,Alentejo,Tinto de Alentejo,Herdade do Menir,2011,2,4.0,3.0,Alta,3.02,0.0,4.31,2.21,3.43,750.0,44.0,972,4.3

In [69]:
all_data['varietal_name'].value_counts()

Blanco                     4096
Tinto                      2961
Riesling                    975
Tinto de Douro              743
Chardonnay                  693
                           ...
Malbec - Syrah                2
Chasselas                     1
Merlot - Syrah                1
Dornfelder                    1
Chenin blanc - Viognier       1
Name: varietal_name, Length: 117, dtype: int64

In [70]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Muscat','Muscadet', 'Moscatel - Chardonnay']),'Moscatel',all_data['varietal_name'])

In [71]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Pinot noir']),'Pinot Noir',all_data['varietal_name'])

In [72]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Petite Sirah']),'Syrah',all_data['varietal_name'])

In [73]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Pinot gris']),'Pinot Gris',all_data['varietal_name'])

In [74]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Pinot blanc']),'Pinot Blanc',all_data['varietal_name'])

In [75]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Blend blanco']),'Blanco',all_data['varietal_name'])

In [76]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Blend tinto']),'Tinto',all_data['varietal_name'])

#### changing the combinations of varietal types, to the first one

In [77]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Sauvignon Blanc - Muscat']),'Sauvignon Blanc',all_data['varietal_name'])

In [78]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Malbec - Syrah']),'Malbec',all_data['varietal_name'])

In [79]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Torrontés - Riesling']),'Torrontés',all_data['varietal_name'])

In [80]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Chardonnay - Pinot Noir']),'Chardonnay',all_data['varietal_name'])

In [81]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Cabernet - Syrah']),'Cabernet',all_data['varietal_name'])

In [82]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Syrah - Viognier']),'Syrah',all_data['varietal_name'])

In [83]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Cabernet - Malbec']),'Cabernet',all_data['varietal_name'])

In [84]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Merlot - Syrah']),'Merlot',all_data['varietal_name'])

In [85]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Chenin blanc - Viognier']),'Chenin blanc',all_data['varietal_name'])

In [86]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Cabernet - Shiraz']),'Cabernet',all_data['varietal_name'])

In [87]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Sauvignon blanc']),'Sauvignon Blanc',all_data['varietal_name'])

In [88]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Blend de Pinotage']),'Pinotage',all_data['varietal_name'])

In [89]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['ALbariño']),'Albariño',all_data['varietal_name'])

In [90]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Blanco de Côte Chalonnaise','Tinto de Côte Chalonnaise']),'Cote Chalonnaise',all_data['varietal_name'])

In [91]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Blanco de Côte de Beaune','Tinto de Côte de Beaune']),'Cote Beaune',all_data['varietal_name'])

In [92]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Blanco de Côte de Nuits','Tinto de Côte de Nuits']),'Cote Nuits',all_data['varietal_name'])

In [93]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Blanco de Rioja','Tinto de Rioja']),'Rioja',all_data['varietal_name'])

In [94]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Tinto de Graves']),'Tinto',all_data['varietal_name'])

In [95]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Tinto de Valpolicella']),'Tinto',all_data['varietal_name'])

In [96]:
all_data.groupby(['varietal_name']).agg({'wine_id':pd.Series.nunique}).reset_index().sort_values(by = 'wine_id',ascending=False).tail(30)

                   varietal_name  wine_id
17                     Carménère       47
36                     Hermitage       43
29                    Côte-Rotie       41
44                      Moscatel       40
90                      Viognier       34
42                    Monastrell       34
61                 Saint-Estèphe       33
31                          Gavi       32
62                  Saint-Joseph       26
43       Montepulciano d'Abruzzo       26
26              Cote Chalonnaise       25
84                     Torrontés       24
28              Crozes-Hermitage       21
46                Müller Thurgau       20
64                   Saint-Péray       17
11                       Bonarda       15
88  Vino Nobile di Montepulciano       13
85                    Treixadura       12
69                      Silvaner       12
60                       Ripasso       10
24                        Cornas        9
16                      Cannonau        8
79             Tinto de Libourne        7
66                    Sangiovese        6
49                 Pedro Ximenez        6
89                 Vino espumoso        4
37                         Jerez        3
87                     Vin Jaune        2
20                     Chasselas        1
30                    Dornfelder        1

## Encoding acidity description, just in case

In [97]:
all_data['acidity_description'].value_counts()

Alta     16184
Media     1852
Baja       249
216          3
136          2
55           1
131          1
Name: acidity_description, dtype: int64

In [98]:
all_data['acidity_description'] = all_data['acidity_description'].map({'Alta':'High', 'Media':'Medium', 'Baja':'Low'})

In [99]:
all_data['acidity_description'].value_counts()

High      16184
Medium     1852
Low         249
Name: acidity_description, dtype: int64

## Again checking and cleaning region and varietal name columns

In [100]:
all_data['region'].value_counts()

Douro                979
Stellenbosch         708
Rioja                647
Ribera del Duero     562
Pfalz                439
                    ...
New South Wales        1
Khvanchkara            1
Colli del Limbara      1
Valle del Malleco      1
Istria                 1
Name: region, Length: 1008, dtype: int64

In [101]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Tinto de Alentejo','Tinto de Douro','Tinto de Montsant','Tinto de Dão','Tinto de Priorat','Tinto de Ribera del Duero','Tinto de Toro','Tinto de Châteauneuf-du-Pape']),'Tinto',all_data['varietal_name'])

In [102]:
all_data['varietal_name'].value_counts()

Tinto            5275
Blanco           4102
Riesling          975
Chardonnay        696
Rioja             659
                 ...
Vino espumoso       4
Jerez               3
Vin Jaune           2
Chasselas           1
Dornfelder          1
Name: varietal_name, Length: 84, dtype: int64

In [103]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Blanco vinho verde']),'Vinho verde',all_data['varietal_name'])

In [104]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Blanco de Macônnais']),'Maconnais',all_data['varietal_name'])

In [105]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Tinto de Libourne']),'Libourne',all_data['varietal_name'])

In [106]:
all_data['region'] = np.where(all_data['region'].isin(['Vino Nobile di Montepulciano']),'Montepulciano',all_data['region'])

In [107]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Vino Nobile di Montepulciano']),'Sangiovese',all_data['varietal_name'])

In [108]:
all_data['region'] = np.where(all_data['region'].isin(["Montepulciano d'Abruzzo"]),'Abruzzo',all_data['region'])

In [109]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(["Montepulciano d'Abruzzo"]),'Montepulciano',all_data['varietal_name'])

In [110]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Saint-Joseph']),'Syrah',all_data['varietal_name'])

In [111]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Saint-Julien','Pessac-Léognan']),'Cabernet Sauvignon',all_data['varietal_name'])

In [112]:
all_data['varietal_name'] = np.where(all_data['varietal_name'].isin(['Saint-Émilion']),'Merlot',all_data['varietal_name'])

## Giving name to the type column

In [113]:
all_data['type'].value_counts()

1    11864
2     9257
Name: type, dtype: int64

In [114]:
all_data['type'] = all_data['type'].map({1:'Red', 2:'White'})
all_data['type'].value_counts()

Red      11864
White     9257
Name: type, dtype: int64

### Saving changes, just in case

In [115]:
all_data.to_csv('all_data.csv',index = False)
all_data.to_sql('all_data', con = engine, if_exists = 'replace', index = False )

21121

## Checking and dealing with NaNs

In [116]:
all_data.isna().sum()

wine_id                   0
type                      0
wine_name                 0
country                   0
region                    0
varietal_name             0
winery                    0
year                      0
style_id                  0
body                   2829
acidity_1              2829
acidity_description    2836
acidity_2              2829
fizziness              2829
intensity              2829
sweetness              2829
tannin                 2829
vol_ml                   25
price_eur                25
num_ratings               0
rate                      0
dtype: int64

In [117]:
all_data[all_data['vol_ml'].isna()].head()

,wine_id,type,wine_name,country,region,varietal_name,winery,year,style_id,body,acidity_1,acidity_description,acidity_2,fizziness,intensity,sweetness,tannin,vol_ml,price_eur,num_ratings,rate
3830,2560904,Red,Gaja Sorì Tildìn (Barbaresco) Langhe,italy,Barbaresco,Barbaresco,Gaja,2009,5,4.0,3.0,High,4.70,0.0,3.83,1.61,4.04,NaN,NaN,3768,4.6
3960,142403361,Red,Podere Forte Guardiavigna,italy,Toscana,Tinto,Podere Forte,2016,292,3.0,2.0,Medium,2.99,0.0,3.46,2.05,2.78,NaN,NaN,1361,4.5
3970,145627558,Red,Gaja Costa Russi (Barbaresco) Langhe,italy,Barbaresco,Barbaresco,Gaja,2016,5,4.0,3.0,High,4.65,0.0,3.76,1.77,3.96,NaN,NaN,2763,4.6
3971,1842729,Red,Gaja Barbaresco,italy,Barbaresco,Barbaresco,Gaja,1983,5,4.0,3.0,High,4.65,0.0,3.70,1.61,4.01,NaN,NaN,23528,4.5
3990,147690811,Red,Cappellano Otin Fiorin Barolo,italy,Barolo,Barolo,Cappellano,2015,7,5.0,3.0,High,4.60,0.0,3.73,1.65,4.44,NaN,NaN,2778,4.3

In [118]:
data_to_model = all_data.drop(['wine_name','winery','vol_ml','price_eur'],axis=1)

In [119]:
data_to_model

,wine_id,type,country,region,varietal_name,year,style_id,body,acidity_1,acidity_description,acidity_2,fizziness,intensity,sweetness,tannin,num_ratings,rate
0,27946372,Red,portugal,Alentejo,Tinto,2014,2,4.0,3.0,High,3.36,0.0,3.97,1.67,3.25,721,4.2
1,5624201,Red,portugal,Alentejo,Tinto,2013,2,4.0,3.0,High,3.00,0.0,4.26,2.14,3.18,1256,4.2
2,2020315,Red,portugal,Alentejo,Tinto,2005,2,4.0,3.0,High,2.98,0.0,4.11,1.73,2.79,3040,4.0
3,144779059,Red,portugal,Alentejo,Tinto,2016,2,4.0,3.0,High,2.88,0.0,3.92,1.64,3.09,538,4.0
4,13551606,Red,portugal,Alentejo,Tinto,2011,2,4.0,3.0,High,3.02,0.0,4.31,2.21,3.43,972,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21116,156300743,Red,germany,Pfalz,Tinto,2017,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159,3.9
21117,165752431,Red,germany,Pfalz,Tinto,2019,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,216,3.9
21118,154971776,Red,romania,Dealu Mare,Tinto,2016,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287,3.8
21119,27518454,Red,israel,Montes de Judea,Tinto,2015,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1723,4.3
21120,163015563,Red,israel,Jerusalén,Tinto,2020,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1599,3.9

In [121]:
data_to_model = data_to_model.dropna()

## Cheking and dealing with missing values

In [122]:
data_to_model['acidity_description'].value_counts()

High      16184
Medium     1852
Low         249
Name: acidity_description, dtype: int64

In [123]:
data_to_model = data_to_model[data_to_model['style_id']!=data_to_model['body']]

## Saving again the progress

In [124]:
data_to_model.to_csv('data_to_model.csv',index = False)
data_to_model.to_sql('data_to_model', con = engine, if_exists = 'replace', index = False )

18285